body {
  background: #2f131e;
  color: #cec3c1;
}

.card {
  padding: 0;
  width: 100%;
}

.card-body {
  background: #cec3c1;
  color: #2f131e;
  text-align: left;
  height: 100px;
}

a {
  color: #cec3c1;
  text-decoration: underline;
}

a:hover {
  color: #cec3c1;
  text-decoration: none;
}

.card {
  padding: 0;
  width: 100%;
}